:root {
    /* Defininco variáveis css*/
    --bg-dark: #1A2F3A;

    --logo-height: 100px;
    --header-height: 100px;
    --menu-top-height:60px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow:
    0 2px 23px 0 rgba(0, 0, 0, 0.1),
    0 2px 49px 0 rgba(0, 0, 0, 0.06),
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* Font importada no index.html <link */
}

/* Grid */
.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height) 
        1fr
        var(--footer-height);
    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";
        height: 100vh; /* altura total da tela */
        background-color: #f5f5f5;
}

aside.logo {
    grid-area: logo;
}
aside.header {
    grid-area: header;
}
aside.menu-area {
    grid-area: menu;
}
main.content {
    grid-area: content;
}
footer.footer {
    grid-area: footer;
}

@media(max-width: 768px) {
    /* qdo chegar nessa largura o menu sairá da lateral e ficará no topo */
    .app {
        grid-template-rows: 
            var(--header-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: var(--aside-width-1fr);
        grid-template-areas:
            "logo header"
            "menu menu"
            "content content"
            "footer footer";
    }
}

@media(max-width: 576px) {
    .app {
        grid-template-rows: 
            var(--logo-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "menu"
            "content"
            "footer"
    }
}